<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ssm.apply.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="org.ssm.apply.domain.Log" >
    <id column="lid" property="lid" jdbcType="INTEGER" />
    <result column="apid" property="apid" jdbcType="INTEGER" />
    <result column="handle" property="handle" jdbcType="VARCHAR" />
    <result column="handtime" property="handtime" jdbcType="TIMESTAMP" />
    <result column="handname" property="handname" jdbcType="VARCHAR" />
    <result column="handcontent" property="handcontent" jdbcType="VARCHAR" />
    <result column="handresult" property="handresult" jdbcType="VARCHAR" />
    <result column="lremark" property="lremark" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log
    where lid = #{lid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ssm.apply.domain.Log" >
    insert into log (lid, apid, handle, 
      handtime, handname, handcontent, 
      handresult, lremark, isdelete, 
      createtime, updatetime)
    values (#{lid,jdbcType=INTEGER}, #{apid,jdbcType=INTEGER}, #{handle,jdbcType=VARCHAR}, 
      #{handtime,jdbcType=TIMESTAMP}, #{handname,jdbcType=VARCHAR}, #{handcontent,jdbcType=VARCHAR}, 
      #{handresult,jdbcType=VARCHAR}, #{lremark,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.ssm.apply.domain.Log" >
    update log
    set apid = #{apid,jdbcType=INTEGER},
      handle = #{handle,jdbcType=VARCHAR},
      handtime = #{handtime,jdbcType=TIMESTAMP},
      handname = #{handname,jdbcType=VARCHAR},
      handcontent = #{handcontent,jdbcType=VARCHAR},
      handresult = #{handresult,jdbcType=VARCHAR},
      lremark = #{lremark,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select lid, apid, handle, handtime, handname, handcontent, handresult, lremark, isdelete, 
    createtime, updatetime
    from log
    where lid = #{lid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select lid, apid, handle, handtime, handname, handcontent, handresult, lremark, isdelete, 
    createtime, updatetime
    from log
  </select>
</mapper>